/* dm-sans-regular - latin */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/dm-sans-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/dm-sans-v11-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v11-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v11-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v11-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v11-latin-500.svg#DMSans")
      format("svg"); /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v11-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/dm-sans-v11-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v11-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v11-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v11-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v11-latin-700.svg#DMSans")
      format("svg"); /* Legacy iOS */
}

:root {
  --clr-text: hsl(0 0% 100%);
  --clr-primary-btn-landing: #2e8acc;
  --clr-bg-start: hsl(187 77% 78%);
  --clr-bg-end: hsl(217 82% 87%);
  --clr-primary-text: #2c9ad1;
  /* --clr-primary-text : hsl(200 79% 82%) */
  --clr-primary-gray-text: hsl(0 0% 49%);
  --clr-primary-about-me-btn: hsl(198 79% 81%);
  --clr-primary-works-btn: hsl(210 81% 85%);
  --clr-primary-reach-me-btn: hsl(214 82% 86%);
}

html {
  position: relative;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
}

body,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(#2fb5c8, #286ede);
  /* must add this otherwise there is background propogation */
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.03em;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1440px;
  padding-inline: 5rem;
}

.btn {
  background: var(--clr-text);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
}

.hero-img img {
  width: 100%;
}

.cloud {
  width: 200px;
}

.sun {
  width: 40px;
}

h2,
li {
  display: inline-block;
  background-image: linear-gradient(#2fb5c8, #286ede);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size 100ms ease-in;
}

/* navbar */
ul li {
  list-style: none;
}

.nav-list-hamb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 120vh;
  background: white;
  position: absolute;
  top: -2vh;
  left: 0;
  z-index: 999;
  padding-inline: 50px;
  padding-block: 100px;
}

.hamburger-inside {
  position: absolute;
  right: 50px;
  top: 50px;
}

#container-nav-hamb {
  display: none;
}

.navbar,
.nav-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar {
  margin-top: 3rem;
}

.nav-list:first-of-type {
  margin-left: auto;
}

.nav-list:last-child {
  margin-right: 1.5rem;
}

.nav-list-item {
  color: var(--clr-text);
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.nav-list-hamb-item {
  color: black;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.hamb {
  width: 35px;
  height: 5px;
  background: var(--clr-primary-text);
  margin: 6px 0;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 10%;
  justify-content: space-between;
}

.hero-text h2 {
  color: var(--clr-text);
  font-weight: 400;
}

.btn-hero {
  color: var(--clr-primary-btn-landing);
  font-weight: 500;
  margin-top: 1.5rem;
  width: fit-content;
  padding-inline: 5rem;
}

.hero-img {
  flex: 100%;
}

/* img {
  outline: 3px solid red;
} */

/* About-me */
.about {
  margin-top: 3rem;
  position: relative;
}

.about__heading {
  color: var(--clr-text);
  padding-block: 1rem;
}

.about__heading h2 {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 2.5rem;
}

h2:hover,
li:hover {
  background-size: 100% 5px;
}

.cloud-and-sun .cloud {
  position: relative;
  z-index: 2;
  animation: sideCloud 5.5s linear forwards alternate infinite;
  /* transform : perspective(3em) rotateX(45deg) */
}

.cloud-and-sun .sun {
  position: absolute;
  transform: translateX(-100px);
  animation: risingSun 8s linear forwards infinite;
}

.about__image-with-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  background: var(--clr-text);
  padding: 2rem;
  border-radius: 0.5rem;
}

.about__text__heading {
  color: var(--clr-primary-text);
  font-weight: 600;
  letter-spacing: 0;
}

.about__text__para {
  color: var(--clr-primary-gray-text);
  margin-top: 1rem;
  max-width: 450px;
}

.about__btn {
  display: grid;
  place-items: center;
}

.btn-about,
.btn-form {
  margin-top: 2rem;
  color: var(--clr-primary-btn-landing);
  width: fit-content;
  padding-inline: 5rem;
}

/* Featured Works */
.works {
  margin-top: 3rem;
}

.works__heading h2 {
  color: var(--clr-text);
  font-weight: 500;
  font-style: italic;
}

.skill__para {
  text-transform: uppercase;
}
.works__display {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.works__container {
  flex: 40%;
}
.skills {
  display: flex;
  gap: 10px;
  outline: 1px solid red;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--clr-text);
  width: fit-content;
  border-radius: 15px;
  gap: 10px;
  padding-inline: 10px;
  color: white;
  padding-block: 5px;
}

/* Reach Me */
.reachme__section {
  margin-top: 3rem;
  animation: fadeIn 1s ease-in 0.3s 1 forwards;
}

.reachme__section__heading {
  color: var(--clr-text);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.reachme__section__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  gap: 20px;
}

.reachme__section__form__input {
  flex: 40%;
  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 30px;
}

.reachme__section__form__input__last {
  flex: 100%;
  padding: 20px 30px 50px 30px;
  border-radius: 30px;
}

.reachme__section__form__input,
.reachme__section__form__input__last {
  background: transparent;
  border: 1px solid var(--clr-text);
  color: var(--clr-text);
}

.reachme__section__form__input::placeholder,
.reachme__section__form__input__last::placeholder {
  color: var(--clr-text);
  opacity: 0.2;
}

.reachme__section__form__input:focus,
.reachme__section__form__input__last:focus {
  opacity: 0.8;
  color: var(--clr-text);
  outline: none;
}

/* Footer */

.footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.footer__para {
  font-size: 0.7rem;
  color: var(--clr-text);
  opacity: 0.7;
  text-align: center;
  letter-spacing: 0.02rem;
}
/* Animation */

@keyframes risingSun {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-50px) translateY(-15px);
  }
}

@keyframes sideCloud {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(50px);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-10vw);
  }

  100% {
    transform: translateX(0);
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-list-item {
    display: none;
  }
}

/* Test Code
.fader {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fader.appear {
  opacity: 1;
}

.fade-left {
  transform: translateX(-50%);
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.fade-left.appear {
  transform: translateX(0px);
  opacity: 1;
} */
